.CardWrapper {
  padding-top: 20px;
  padding-inline: 1.5vw;
  margin-top: 10px;
}

.CardTitle {
  font-size: 28px;
  color: #000;
}

.CardText {
  font-size: 14px;
  color: #000;
  text-align: justify;
}

.CardLink {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.Starting {
  background-color: #00cf2e;
  padding: 5px 40px 5px 40px;
  display: flex;
  align-items: center;
}

.startingText {
  font-size: 14px;
}
